* {
    text-align: center;
    margin: auto;
}

body {
    background-color: #d2e2e1 !important;
    font-size: 24px !important;
}

#wrapper, #wrapper2 {
    margin: auto;
}

.header, .action-button  {
    background: linear-gradient(180deg, #4CA1AF 9.38%, #72CBDB 54.69%, #54A5B2 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    padding-top: 14px;
    padding-bottom: 14px;
}

.question, .header {
    margin-top: 35px;
    margin-bottom: 20px;
}

.header {
    width: 90%;
}

.action-button {
    min-width: 33%;
    margin: 36px !important;
}

.action-button:focus {
    outline:none !important;
}

textarea {
    background-color: #B4CACE;
    border-radius: 10px;
    width: 66%;
    height: 400px;
    font-size: 16px !important;
    text-align: left !important;
    border-color: transparent;
}
